* {
    margin: 0;
    padding: 0;
    border: 0;
}

.fondo {
    background-image: url(../img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
	font-family: sans-serif;
}

/* Modal de Registro */

.ingreso{
	float: left;
	position: absolute;
	right: 0;
	margin-right: 50px;
}

.bienvenida{
	padding-top: 10px;
	font-size: 20px;
}

.ingreso_form{
	width: 80%;
	text-align: left;
	margin: 30px 40px 20px;	
}

.ingreso_form label{
	font-size: 22px;	
}

.caja{	
	font-size: 25px;
	height: 30px;
	width: 100%;
}

.modal-contenido {
  background-color: orangered;
  width: 420px;
  height: 360px; ;
  margin: 20% auto;
  position: relative;
  color: #FFF;	
  text-align: center;
}
.modal {
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 2s;
}
#ir_a_modal:target {
  opacity: 1;
  pointer-events: auto;
}

.boton{
	background-color: dodgerblue;
	width: 120px;
	height: 30px;
	margin: 10px 22px;
	font-size: 18px;
	color: #FFF;
}

.aviso{
	background-color: aqua;
	width: 100%;	
	height: 30px;
	color: red;
	padding-top: 10px;
	font-weight: bold;
}
/* inicio menu PDM */

#pdm {
	padding-top: 30px;
	width:500px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
}

ul, ol {
	list-style: none;	
}

.nav > li {
	float: left;
}

.nav li a {
	width: 180px;
	background-color: rgba(2,64,89,1);
	color: #fff;
	text-decoration: none;
	padding: 20px 12px;
	display: block;
	margin-left: 20px;
}

.nav li a:hover {
	background-color: #FFF;
	color: rgba(2,64,89,1);
}

.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover > ul {
	display: block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}

	
/* final menu PDM */

.botonera {	
	position: absolute;
	width: 100%;
	height: cover;
	z-index: 26;
	background: blue;
}

.conte_slides {}

.descripcion { 
    color: #FFF;
	margin-top: 29%;
} 

.subdes {
	background-color: rgba(2,64,89,0.4);
	background-repeat: no-repeat;	
    background-size: contain; 	
}

.subdes_nav {
		
}

.descrip_titul {
	margin: 0px 100px 10px;
	padding-top: 10px;
}

.descrip_conte {
	margin: 0px 100px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.cambio {
   width: 300px;
   height: 200px;
}